# Ignore .terraform directories in any subdirectory
**/.terraform/

# ignore .pem file
*.pem

# Ignore other common files and directories
*.tfstate
*.tfstate.*
*.tfvars
*.log
*.backup
*.swp
.terraform.lock.hcl