# Ignore .terraform directories in any subdirectory
**/.terraform/

# Ignore .pem files in any subdirectory
terraform/aws/project-2/access-key.pem

# Ignore other common files and directories
*.tfstate
*.tfstate.*
*.tfvars
*.log
*.backup
*.swp
.terraform.lock.hcl