# Ignore .terraform directories in any subdirectory
**/.terraform/

# ignore node modules

**/node_modules/

# ignore .pem file
*.pem

# Ignore other common files and directories
*.tfstate
*.tfstate.*
*.tfvars
*.log
*.backup
*.swp
.terraform.lock.hcl
bfg-1.14.0.jar
**/readme2.md

for_kube_pv/