# Build output
/target/
/build/
/out/

# IDE-specific files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Environment-specific files
.env
application-dev.properties
application-prod.properties
application-local.properties

# Log files
/logs/
*.log

# Dependency files
.mvn/
mvnw
mvnw.cmd
gradlew
gradlew.bat
/gradle/

# Other files
.DS_Store
*.swp
*.swo
*.bak